{
    "presets": [
        "env",
        "flow",
        "react"
    ],

    "plugins": [
        "flow-react-proptypes",
        "transform-runtime",
        ["transform-object-rest-spread", { "useBuiltIns": true }]
    ]
}
