.button {
  display: block;

  box-sizing: border-box;
  padding-right: 2%;
  padding-left: 2%;

  color: #421b75;
  border: none;
  background-color: #ffe258;

  font-size: 18px;
  line-height: 2.6em;
}

.button--full-width {
  width: 100%;
}
