.question {
    position: relative;

    box-sizing: border-box;
    margin-bottom: 30px;

    background-color: #696a96;
    box-shadow: 0 -36px 0 -20px rgba(255, 255, 255, 0.1),
                0 -18px 0 -10px rgba(255, 255, 255, 0.2),
                0 10px 40px 0px rgba(0, 0, 0, 0.4);
}

.title {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 5%;

    font-family: 'Open sans', sans-serif;
    font-size: 17px;
    font-style: italic;
    line-height: 1.3em;
}

.button {
    display: block;

    width: 100%;

    color: #421b75;
    border: none;
    background-color: #ffe258;

    font-size: 18px;
    line-height: 2.6em;
}

.button:hover {
    background-color: #f5de5b;
}

.button--hide {
    position: absolute;

    visibility: hidden;
}

.answer {
    padding: 5%;

    font-size: 20px;
    font-weight: bold;
}

.answer--hide {
    display: none;
}

.answer--show {
    display: block;
}

.comment {
    padding: 5%;

    font-size: 16px;
    font-style: italic;
    line-height: 1.3em;
}

.comment--show {
    display: block;
}

.comment--hide {
    display: none;
}
